<style> 
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
<i class="fa fa-bars"></i>
</button>
<!-- Marquee Section -->
<marquee class="prevent-select" id="dynamic-marquee">
Loading...
</marquee>
<ul class="navbar-nav ml-auto">
<li class="nav-item dropdown no-arrow">
<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
<span class="mr-2 d-none d-lg-inline text-gray-600 small">Satzz Voldigoad.</span>
<img class="img-profile rounded-circle" src="https://i.pinimg.com/736x/d6/dd/38/d6dd38a853e1e2752519fc987eb9aef0.jpg">
</a>
</li>
</ul>
</nav>
<script>
async function loadMarqueeData() {
const marquee = document.getElementById('dynamic-marquee');
try {
const response = await fetch('/api/marquee');
const data = await response.json();
marquee.innerHTML = data
} catch (error) {
console.error('Gagal memuat data marquee:', error);
marquee.innerHTML = 'Gagal memuat data marquee.';
}
}
loadMarqueeData();
</script>